.chips-edit {
  margin-top: 1rem;
}

.chips-edit .chip-edit {
  margin-right: 0.5rem;
  padding: 0.4rem;
  background-color: #2a95c5;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.MuiAutocomplete-option[data-focus="true"] {
  background-color: #f2f9fc !important;
}

.chips {
  margin-top: 0.4rem;
}

.chips .chip {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.7rem;
  background-color: #6fa9ff42;
  font-weight: 400;
  font-size: 1.125rem;
}

.attachment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  font-size: 1.25rem;
  background-color: #e6e6e678;;
  border-radius: 6px;
  margin-top: 0.6rem;
}

.attachment-card > div {
  display: flex;
  align-items: center;
}

.attachment-name {
  margin-left: 7rem;
}
