.logged-in-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;

}

.logged-in-user img {
  border-radius: 50%;
  margin-right: 0.8rem;
  height: 60px;
}

.logged-in-user .name {
  margin: 0 0 0.2rem;
  font-size: 18px;
  font-weight: 500;
}

.logged-in-user .email {
  font-size: 14px;
  color: hsla(0, 0%, 100%, 0.7);
}

.rotate{
  transform: rotate(180deg);
}

.initial{
  transform: rotate(0deg);
}
