.upcoming-appointments-container{
    display: flex;
    flex-direction: column;
    height: 360px;
    overflow-y: auto;
}

.appointment-flexbox {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f2f2f2;
  padding: 1.38rem 1.6rem;
}

.appointment-flexbox > div {
  font-size: 18px;
  color: #333333;
}
