.search-add-new
  > .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]
  .MuiAutocomplete-input {
  padding: 18px !important;
}

.MuiAutocomplete-option {
  border-bottom: 2px solid #e6e6e6 !important;
}

.MuiAutocomplete-option:last-child {
  border-bottom: 0 !important;
}
