.MuiCardContent-root {
  padding: 0 !important;
}

.card-title {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  padding: 0.63rem 1.5rem;
}

.card-title div {
  margin-left: 0.63rem;
}

.card-content {
  padding: 1.5rem;
}
.subtitle-dark {
  font-size: 0.8rem;
  color: #5a5a5a;
}

.title-heads {
  font-size: 1.1rem !important;
  font-weight: 500 !important;
}
.chips {
  margin-top: 0.4rem;
}

.chips .chip {
  margin-right: 0.5rem;
  padding: 0.7rem;
  background-color: #6fa9ff42;
  font-weight: 400;
}

.attachment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  background-color: #e5e5e578;
  border-radius: 3px;
  margin-top: 0.6rem;
}

.attachment-card > div {
  display: flex;
  align-items: center;
}

.attachment-name {
  margin-left: 10rem;
}

.start,
.end {
  display: flex;
}
.step-status-drawing {
  margin: 0 1rem;
}
.step-status-dot {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #2a95c5;
}
.step-status-line {
  margin: 0 auto;
  display: block;
  width: 2px;
  height: 5rem;
  background-color: #dcedf5;
}
