.MuiCardContent-root {
  padding: 0 !important;
}

.main-title-icon{
  font-size: 1.3rem !important;
}

.card-title {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  padding: 0.63rem 1.5rem;
}

.card-title div {
  margin-left: 0.6rem;
  font-size: 1.375rem;
  font-weight: 500;
}

.card-content {
  padding: 1.5rem 1.5rem 1.5rem 1.56rem;
}
.card-content-inv{
  padding: 1.5rem 0 0;
}
.subtitle-dark {
  font-size: 1.125rem;
  color: #5a5a5a;
}
.apt-card > div> .name{
  font-size: 1.25 !important;
}
.title-heads {
  font-size: 1.25rem !important;
  font-weight: 500 !important;
  margin-bottom: 5px !important;
}
.chips {
  margin-top: 0.4rem;
}

.chips .chip {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.7rem;
  background-color: #6fa9ff42;
  font-weight: 400;
  font-size: 1.125rem;
}

.attachment-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  font-size: 1.25rem;
  background-color: #e6e6e678;;
  border-radius: 6px;
  margin-top: 0.6rem;
}

.attachment-card > div {
  display: flex;
  align-items: center;
}

.attachment-name {
  margin-left: 7rem;
}

.start,
.end {
  display: flex;
}
.step-status-drawing {
  margin: 0.15rem 0.8rem 0 0;
}
.step-status-dot {
  display: block;
  margin-top: 4px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #2a95c5;
}
.step-status-line {
  margin: 0 auto -10px;
  display: block;
  width: 2px;
  height: 7rem;
  background-color: #dcedf5;
}
