.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input {
  padding: 18px !important;
}

.MuiAutocomplete-option {
  /* padding: 10px 12px 10px 18px !important; */
  /* height: 50px; */
  border-bottom: 2px solid #e6e6e6 !important;
}

.MuiAutocomplete-option:last-child {
  border-bottom: 0 !important;
}
