.flex-remove-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apt-edit-icon {
  font-size: 1.2rem;
  color: red;
  cursor: pointer;
}

.inv-add-icon {
  font-size: 1.2rem;
  color: rgb(207, 207, 207);
  cursor: pointer;
}
.MuiPickersToolbarButton-toolbarBtn {
  min-width: 16px !important;
}

.MuiTypography-colorPrimary{
  color: #2a95c5 !important;
}

.MuiPickersToolbar-toolbar,
.MuiPickersDay-daySelected {
  background-color: #2a95c5 !important;
}
.MuiPickersDay-daySelected:hover {
  background-color: #2a95c5 !important;
  color: #000 !important;
}
.MuiOutlinedInput-adornedEnd {
  padding: 0 !important;
}
.MuiInputBase-input {
  font-size: 2px;
}
.start-edit,
.end-edit {
  display: flex;
  justify-content: space-between;
}
.mr {
  margin-right: 5px;
}
.ml {
  margin-left: 5px;
}

@media only screen and (max-width: 1170px) {
  .start-edit,
  .end-edit {
    display: block;
  }
  .date-time {
    margin-top: 12px;
  }
  .mr {
    margin-right: 0;
  }
  .ml {
    margin-left: 0;
  }
}

@media only screen and (max-width: 960px) {
  .start-edit,
  .end-edit {
    display: flex;
  }
  .date-time {
    margin-top: 0;
  }
  .mr {
    margin-right: 5px;
  }
  .ml {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 420px) {
  .start-edit,
  .end-edit {
    display: block;
  }
  .date-time {
    margin-top: 12px;
  }
  .mr {
    margin-right: 0;
  }
  .ml {
    margin-left: 0;
  }
}
