.chips-edit {
  margin-top: 1rem;
}
.flex-remove-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apt-edit-icon {
  font-size: 1.2rem;
  color: red;
  cursor: pointer;
}

.chips-edit .chip-edit {
  margin-right: 0.5rem;
  padding: 0.4rem;
  background-color: #2a95c5;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.MuiOutlinedInput-input {
  padding: 0.6rem 0.6rem 0.6rem 1rem !important;
}
.MuiOutlinedInput-adornedEnd {
  padding: 0 !important;
}
.MuiInputBase-input {
  font-size: 2px;
}
.start-edit,
.end-edit {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1170px) {
  .start-edit,
  .end-edit {
    display: block;
  }
  .date-time {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 960px) {
  .start-edit,
  .end-edit {
    display: flex;
  }
  .date-time {
    margin-top: 0;
  }
}
@media only screen and (max-width: 420px) {
  .start-edit,
  .end-edit {
    display: block;
  }
  .date-time {
    margin-top: 12px;
  }
}
