.transaction-flexbox{
    display: flex;
    height: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transaction-title{
    font-weight: 500;
    font-size: 21px;
}

.transaction-amount{
    font-weight: 500;
    font-size: 28px;
    margin-top: 12px;
}