.MuiAppBar-colorPrimary {
  background-color: #2a95c5 !important;
}
.nav-desktop {
  display: block;
}
.nav-mobile {
  display: none;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #2a95c5;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 !important;
}
.navbar {
  overflow: hidden;
  width: 100%;
}
.navbar > ul {
  list-style: none;
  display: flex;
  padding: 0 48px 0 0;
  margin: 0;
  padding-inline-start: 0;
}
.nav-item {
  width: 7.2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 0.2rem;
  color: #fff;
  transition: all 0.5s;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #fff;
  color: #2a95c5;
}

.nav-link div {
  margin: 0.5rem 0 0;
  font-size: 16px !important;
  font-weight: 500;
}

.nav-icon {
  font-size: 1.45rem !important;
}

.selected {
  background-color: #fff;
  color: #2a95c5;
}

.body {
  margin: 2.5rem auto;
  max-width: 1360px;
  padding: 0 2rem;
}

/* Template classes */

.f5-22 {
  font-size: 1.375 !important;
  font-weight: 500 !important;
}

.fn-20 {
  font-size: 1.25 !important;
  font-weight: normal !important;
}

.fn-18 {
  font-size: 1.125;
  font-weight: normal;
}

.f5-18 {
  font-size: 1.125;
  font-weight: 500;
}

.f5-24 {
  font-size: 1.5;
  font-weight: 500;
}
/* Template classes */

@media only screen and (max-width: 970px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
    overflow: hidden;
    width: 100%;
  }
}
