.edit-field {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.checkbox {
  color: #2a95c5 !important;
}

.checkbox:hover {
  background-color: #F2F9FC !important;
}

.chips-edit-inv .chip-edit {
  margin-right: 0.5rem;
  padding: 0.4rem;
  background-color: #2a95c5;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}
