.cst-info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


.cst-container,.cst-action,.cst-edit-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cst-name {
  font-size: 1.8rem;
  font-weight: 500;
}
.remaining-balance {
  margin-top: 5px;
  font-weight: 300;
}
.start-container{
  margin-left: 16px;
}
.btn-save{
    background-color: #62C796 !important;
    color: #fff !important;
}

.btn-cancel{
    background-color: #fff !important;
    color: #000 !important;
}

.btn-icon{
    font-size: 20px;
    margin-right: 10px;
}

.btn-icon-cancel{
    color: red;
}

.action-icon{
    margin-right: 12px;
}

@media only screen and (max-width: 690px) {
  .cst-info-section, .cst-container {
    display: block;
  }
  .cst-action{
    display: block;
    margin-top: 16px;
  }
  .cst-edit-action{
    margin-top: 20px;
  }
  .start-container{
    margin-left: 0;
    margin-top: 8px;
  }
}