.cst-info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.MuiListItem-button:hover {
  background-color: #f2f9fc !important;
  color: #2a95c5 !important;
}

.MuiButton-root {
  font-size: 1rem !important;
  min-width: 130px !important;
}

.cst-action > .Mui-focused {
  outline: 0 !important;
}
.cst-container,
.cst-action,
.cst-edit-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cst-name {
  font-size: 2.25rem;
  font-weight: 500;
}
.remaining-balance {
  margin-top: 5px;
  font-weight: 500;
}
.start-container {
  margin-left: 16px;
}
.btn-save {
  background-color: #62c796 !important;
  color: #fff !important;
}

.btn-cancel {
  background-color: #fff !important;
  color: #000 !important;
}

.btn-icon {
  font-size: 20px;
  margin-right: 7px;
}

.btn-icon-cancel {
  color: red;
}

.menu-item {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.menu-item > div {
  margin-top: 1px;
  /* margin-left: 2px; */
}

.action-icon {
  margin-right: 4px;
  font-size: 21px !important;
}

.employee-banner-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  background-color: rgba(42, 149, 197, 0.86);
  border-radius: 100%;
}

.employee-picture {
  height: 75px;
  width: 75px;
  background-image: url("/profile-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

.with-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      0deg,
      rgba(42, 149, 197, 0.86),
      rgba(42, 149, 197, 0.86)
    ),
    url("/profile-img.png");
  cursor: pointer;
}

@media only screen and (max-width: 690px) {
  .cst-info-section,
  .cst-container {
    display: block;
  }
  .cst-action {
    display: block;
    margin-top: 16px;
  }
  .cst-edit-action {
    margin-top: 20px;
  }
  .start-container {
    margin-left: 0;
    margin-top: 8px;
  }
}
