.cst-info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cst-action > .Mui-focused {
  outline: 0 !important;
}
.cst-container,
.cst-action,
.cst-edit-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cst-name {
  font-size: 2.25rem;
  font-weight: 500;
}
.remaining-balance {
  margin-top: 5px;
  font-weight: 500;
}
.start-container {
  margin-left: 16px;
}
.btn-save {
  background-color: #62c796 !important;
  color: #fff !important;
}

.btn-cancel {
  background-color: #fff !important;
  color: #000 !important;
}

.btn-icon {
  font-size: 20px;
  margin-right: 10px;
}

.btn-icon-cancel {
  color: red;
}

.menu-item{
  display: flex;
  align-items: center;
}

.menu-item > div{
  margin-top: 1px;
  /* margin-left: 2px; */
}

.action-icon {
  margin-right: 8px;
  font-size: 20px;
}

@media only screen and (max-width: 690px) {
  .cst-info-section,
  .cst-container {
    display: block;
  }
  .cst-action {
    display: block;
    margin-top: 16px;
  }
  .cst-edit-action {
    margin-top: 20px;
  }
  .start-container {
    margin-left: 0;
    margin-top: 8px;
  }
}
