.login-card-container {
  /* height: calc(100vh); */
  margin-top: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
}
.login-card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8rem 0;
}
.login-card-icon {
  padding: 7px;
  background-color: #2a95c5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border-radius: 100%;
  margin-right: 0.9rem;
}

.login-card-title {
  color: #2a95c5;
  font-weight: bold;
  font-size: 32px;
}

@media only screen and (max-width: 600px) {
  .login-card-container {
    height: inherit;
    margin: 16px 0;
  }
}
